<div class="container-fluid">
    <div class="container">
        <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-md-4">
                <label class="form-label" for="inputTitle">Product name</label>
                <input class="form-control" id="inputTitle" type="text" name="title"/>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="inputPrice">Price</label>
                <div class="input-group">
                    <input class="form-control" type="number" id="inputPrice" name="price"
                           aria-label="Dollar amount (with dot and two decimal places)"/>
                    <span class="input-group-text">$</span>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="inputState">Categorys</label>
                <select class="form-select" id="inputState" name="category">
                    {% for category in category %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="inputTag">Images</label>
                <input class="form-control" id="inputTag" type="file" multiple name="images"/>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>

        </form>
    </div>
</div>

